/* @import './base.css'; */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  #app {
    padding: 18px !important;
  }
}
